<div class="modal fade" id="newCustomerModal" tabindex="-1" aria-labelledby="novoClienteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="novoClienteModalLabel">{{ customer ? 'Editar Cliente' : 'Cadastrar Cliente' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <p class="text-muted" style="font-size: 0.875rem;">
            Preencha os dados abaixo. <br>
          </p>

          <!-- NOME COMPLETO -->
          <div class="mb-3">
            <label class="form-label-custom">Nome completo*</label>
            <input
              formControlName="name"
              type="text"
              class="form-control form-control-custom"
              [class.is-invalid]="isFieldInvalid('name')"
              placeholder="Nome do cliente"
            >
            <div class="invalid-feedback">
              O nome é obrigatório.
            </div>
          </div>

          <!-- CPF -->
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label-custom">CPF</label>
              <input
                formControlName="cpf"
                [class.is-invalid]="isFieldInvalid('cpf')"
                type="text"
                mask="000.000.000-00"
                class="form-control form-control-custom"
                placeholder="000.000.000-00"
              >
              <div class="invalid-feedback">
                O CPF é obrigatório.
              </div>
            </div>

            <!-- TELEFONE -->
            <div class="col-6">
              <label class="form-label-custom">Telefone*</label>
              <input
                formControlName="phone"
                type="text"
                class="form-control form-control-custom"
                [class.is-invalid]="isFieldInvalid('phone')"
                mask="(00) 00000-0000"
                placeholder="Telefone"
              >
              @if(isFieldInvalid('phone')) {
                <div class="invalid-feedback d-block">
                  O telefone é obrigatório.
                </div>
              }
            </div>
          </div>

          <!-- E-MAIL -->
          <div class="mb-3">
            <label class="form-label-custom">E-mail</label>
            <input formControlName="email" type="email" class="form-control form-control-custom" placeholder="email@exemplo.com">
          </div>

          <!-- DATA DE NASCIMENTO -->
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label-custom">Data de Nascimento</label>
              <input formControlName="dateOfBirth" type="date" class="form-control form-control-custom">
            </div>
            <!-- ESTADO (readonly) -->
            <div class="col-6">
              <label class="form-label-custom">Estado</label>
              <input type="text" class="form-control form-control-custom" value="Paraíba" readonly>
            </div>
          </div>

          <!-- CIDADE -->
          <div class="mb-3">
            <label class="form-label-custom">Cidade</label>
            <ng-select
              formControlName="city"
              placeholder="Selecione ou busque a cidade"
              class="custom-ng-select"
              [class.is-invalid]="isFieldInvalid('city')"
              [items]="cities"
              [searchable]="true"
              [clearable]="false"
            >
            </ng-select>
            @if(isFieldInvalid('city')) {
              <div class="invalid-feedback d-block">
                A cidade é obrigatória.
              </div>
            }
          </div>
        </div>

        <!-- BOTÕES DE AÇÃO -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn-primary-gradient">
            <i class="bi" [ngClass]="customer ? 'bi-check-lg' : 'bi-person-plus'"></i>
            {{ customer ? 'Salvar Alterações' : 'Cadastrar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
