.delete-icon-wrapper {
  width: 64px;
  height: 64px;
  background-color: #fee2e2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-sm {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.modal-content {
  border-radius: 1rem;
}

.btn {
  border-radius: 0.5rem;
}
